.box{
    display: block;

}
.box{
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}
.inline{
    display: inline;
    background-color: lightgreen;
}
.inline-blox{
    display: inline-block;
    background-color: lightcoral;

}
.position-box{
  width: 200px;
  height: 100px;
  background-color: orange;
  position: relative;
  top: 20px;
  left: 50px;
}