body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    flex: 1 1 200px;
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
}