body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.container{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.cards{
    background-color: coral;
    padding: 40px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}
h2{
    text-align: center;
}
@media(max-width:768px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}